## Ejercicios - Tuplas, Sets y Diccionarios

### Tuplas

### Ejercicio 1
- Crea una tupla utilizando la función **range()**, que tenga un rango del 11 al 19.
    - Ejemplo: **tupla = tuple(range(3))**

In [ ]:
tupla = tuple(range(11, 20))

In [ ]:
tupla

### Ejercicio 2
- Crea una lista vacia y llenala con los números de la tupla anterior usando un bucle.

In [ ]:
lista = []

for num in tupla:
    lista.append(num)
    
lista

### Ejercicio 3
- Ordena la lista de mayor a menor.

In [ ]:
lista.reverse()

In [ ]:
lista

### Ejercicio 4
- Transforma la lista a tupla y ordenala de menor a mayor.

In [ ]:
tupla = tuple(lista)

tupla = sorted(tupla)

tupla

### Ejercicio 5
- ¿Que tipo de dato es la variable resultante?

In [ ]:
type(tupla)

### Ejercicio 6
- Dada la siguiente **frase = "Fui programado para servir, no para destruir - C3PO"**, conviertela en tupla, ordenala y manten la tupla. (El resultado final debe ser una tupla)

In [ ]:
frase = "Fui programado para servir, no para destruir - C3PO"

In [ ]:
tupla_frase = tuple(frase)

print(tupla_frase)

In [ ]:
tupla_frase = sorted(tupla_frase)

print(tupla_frase)

In [ ]:
tupla_frase = tuple(tupla_frase)

print(tupla_frase)

### Ejercicio 7
- Del resultado anterior, muestra cuantas veces aparece cada vocal.
    - Utiliza un bucle **for** que recorra la siguiente tupla: **("a", "e", "i", "o", "u")**

In [ ]:
vocales = ("a", "e", "i", "o", "u")

for vocal in vocales:
    print(vocal, tupla_frase.count(vocal))

### Ejercicio 8
- Dada la siguiente tupla: **(9, 8, 7, 5, "a", 3, 6, 5)**, encuentra la forma para eliminar la letra **"a"**. (El resultado final debe ser una tupla)

In [ ]:
tupla = (9, 8, 7, 5, "a", 3, 6, 5)

tupla = list(tupla)

tupla.remove("a")

tupla

In [ ]:
tupla = tuple(tupla)

tupla

### Ejercicio 9
- Pregunta a un usuario que ingrese 5 elementos diferentes separados por coma y convierte estos elementos a una tupla, pueden ser palabras o un números.

In [ ]:
string = input("Ingresa 5 elemento separados por coma: ")

string = string.split(",")

print(string)

In [ ]:
string = tuple(string)

print(string)

### Ejercicio 10
- Dada la siguiente lista de tuplas: **[(10, 20, 40), (40, 50, 60), (70, 80, 90)]**, elimina el último elemento de cada tupla dentro de la lista.

In [ ]:
tuplas = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

print(tuplas)

In [ ]:
# Usando indexing

tuplas[0] = tuplas[0][:2]
tuplas[1] = tuplas[1][:2]
tuplas[2] = tuplas[2][:2]

print(tuplas)

In [ ]:
# Usando bucle for

for i in range(len(tuplas)):
    tuplas[i] = list(tuplas[i])
    tuplas[i].pop()
    tuplas[i] = tuple(tuplas[i])
    
    
print(tuplas)

### Sets

### Ejercicio 11
- Pide al usuario que ingrese 3 empresas de tecnología, estos elementos agregalos al **set_1 = {"Meta", "Google", "Amazon"}**

- Verifica que no se repita ninguna empresa y dile al usuario que no se repitio ninguna empresa.

In [ ]:
set_1 = {"Meta", "Google", "Amazon"}

In [ ]:
empresas = input("Ingrese 3 empresas de tecnologia separados por comas: ")

empresas = empresas.split(",")

print(empresas)

In [ ]:
set_1.update(empresas)

set_1

In [ ]:
if len(set_1) == 6:
    print("Ninguna empresa se repite.")

else:
    print("Hay empresas que se repiten.")

### Ejercicio 12
- Repite el ejercicio anterior pero ahora imprime las empresas que se repiten en caso de que existiera uno o más que se repitan.

In [ ]:
set_1 = {"Meta", "Google", "Amazon"}

In [ ]:
set_2 = input("Ingrese 3 empresas de tecnologia separados por comas: ")

set_2 = set_2.split(" ")

print(set_2)

In [ ]:
set_2 = set(set_2)

set_2

In [ ]:
for empresa in set_2:
    
    if empresa in set_1:
        print("Esta empresa se repite:", empresa)
        
    else:
        set_1.update([empresa])

In [ ]:
print(set_1)

### Ejercicio 13
- Dadas las siguientes **frases_1 = "En una galaxia lejana"** y **frase_2 = "Una galaxia llamadá Via Lactea"**, haz la intersección de las palabras.

In [ ]:
frase_1 = "En una galaxia lejana"
frase_2 = "Una galaxia llamadá Via Lactea"

frase_1 = frase_1.split(" ")
frase_2 = frase_2.split(" ")

print(frase_1)
print(frase_2)

In [ ]:
frase_1 = set(frase_1)
frase_2 = set(frase_2)

print(frase_1)
print(frase_2)

In [ ]:
frase_1.intersection(frase_2)

### Ejercicio 14
- Encuentra la diferencia entre el **set_1 = {9, 8, 7, 6, 5, 4, 3, 2}** y el **set_2 = {9, 8, 10}**
- **Extra**: hazlo utilizando un bucle **for** y no la función.

In [ ]:
set_1 = {9, 8, 7, 6, 5, 4, 3, 2}
set_2 = {9, 8, 10}

In [ ]:
set_1.difference(set_2)

In [ ]:
# Con bucle

lista = []

for elem in set_1:
    if elem not in set_2:
        lista.append(elem)
        
lista = tuple(lista)
        
print(lista)

### Diccionarios

### Ejercicio 15
- Crea un diccionario con 5 elementos (5 llaves y 5 valores)
    - **Llave**: Color
    - **Valor**: Numero de letras del color

In [ ]:
dict_1 = {"Amarillo" : 8, "Azul" : 4, "Rojo" : 4, "Verde" : 5, "Morado" : 6}

dict_1

### Ejercicio 16
- Crea un diccionario con 5 elementos pero esta vez pregunta el usuario por cada llave y valor.
    - **Llave**: Color
    - **Valor**: Numero de letras del color

In [ ]:
dict_vacio = {}

for i in range(5):
    llave = input("Ingrese 1 color: ")
    valor = len(llave)
    
    dict_vacio[llave] = valor

In [ ]:
dict_vacio

### Ejercicio 17
- Repite el ejercicio anterior pero de la siguiente forma:
    - Primero crea en una lista los colores y en otra lista el numero de letras
    - Después crea el diccionario a partir de las listas.

In [ ]:
colores = ["Amarillo", "Azul", "Rojo", "Verde", "Morado"]
conteo = [8, 4, 4, 5, 6]

In [ ]:
dict_vacio = {}

for color, cont in zip(colores, conteo):
    dict_vacio[color] = cont
    
dict_vacio

### Ejercicio 18
- Pide al usuario que ingrese 3 números distintos y guarda esos números como llaves y crea los valores utilizando la siguiente formula:
    - x : x**2
    
Donde x es la llave.

In [ ]:
dict_vacio = {}

for i in range(3):
    numero = int(input("Ingrese un número entero: "))
    dict_vacio[numero] = numero**2
    
dict_vacio

### Ejercicio 19
- Pide al usuario que ingrese una frase y agrega las palabras como keys y la frecuencia de cada palabra como value en un diccionario. Usa la función **Counter**.

In [ ]:
frase = input("Ingrese una frase: ")

In [ ]:
frase = frase.split(" ")

In [ ]:
from collections import Counter

Counter(frase)

### Ejercicio 20
- Crea un programa donde las keys son 7 números aleatorios entre el 100 y el 200 y en los values debe de estar la palabra par o impar, si el número es par o impar

In [ ]:
import random

dict_vacio = {}

for i in range(7):
    numero_aleatorio = random.randint(100, 200)
    
    if numero_aleatorio % 2 == 0:
        dict_vacio[numero_aleatorio] = "Par"
    else:
        dict_vacio[numero_aleatorio] = "Impar"
        
dict_vacio

### Ejercicio 21
- Crea un programa donde las keys son 10 números enteros aleatorios entre el 1 y el 50 y para cada value del diccionario vamos a utilizar la siguiente formula x : 1/x

In [ ]:
# El diccionario tendrá menos elementos si se repite algun número generado aleatoriamente

dict_vacio = {}

for i in range(10):
    numero_aleatorio = random.randint(1, 50)
    dict_vacio[numero_aleatorio] = 1 / numero_aleatorio
    
dict_vacio

In [ ]:
# Usando un bucle while podemos evitar ese problema

dict_vacio = {}

while len(dict_vacio) < 10:
    
    numero_aleatorio = random.randint(1, 50)
    dict_vacio[numero_aleatorio] = 1 / numero_aleatorio
    
dict_vacio

### Ejercicio 22
- Crea un programa que dados los siguientes diccionarios: **d1 = {"a" : 125, "b" : 130, "c" : 150}**, **d2 = {"e" :  10, "b" : 20, "a" : 30}**, sume los items que tienen la misma key y guarde esas keys con la suma de los values en un nuevo diccionario

In [ ]:
d1 = {"a" : 125, "b" : 130, "c" : 150}
d2 = {"e" : 10, "b" : 20, "a" : 30}

In [ ]:
d3 = {}

d3.update(d1)

d3

In [ ]:
for key, value in d2.items():
    if key in d3:
        d3[key] += value
        
    else:
        d3[key] = value
        
d3

In [ ]:
##############################################################################################################################