## Condicionales

Las sentencias condicionales se usan para tomar decisiones, éstas evalúan una operación lógica (declaraciones o statements), es decir una expresión que de como resultado **True** o **False** , y ejecuta una pieza de código u otro dependiendo del resultado. **Dependiendo de la estructura del condicional se ejecutará o no una o varias lineas de código.**

### if

Es la base del condicional, **if** evaluará si una declaración es **True** o **False** y, dependiendo del resultado, ejecutará una linea de código u otro.

**Ejemplo:**

In [4]:
edad = 18

# Condicional
if edad >= 18:
    print("Persona mayor de edad.")

Persona mayor de edad.

In [2]:
edad = 17

if edad >= 18:
    print("Persona mayor de edad.")

### else

Es el complemento del **if**, usando **else** podemos dar otro resultado si la condición no se cumple.

**El condicional _else_ no es obligatorio y no necesita que le demos una declaración.**

**Cuando se ejecuta el _if_ NO se ejecuta el _else_ y cuando NO se ejecuta el _if_ se ejecuta el _else_.**

In [5]:
edad = 18

if edad >= 18:
    print("Persona mayor de edad.")
    
else:
    print("Condición no se cumple, persona menor de edad")

Persona mayor de edad.

In [6]:
edad = 17

if edad >= 18:
    print("Persona mayor de edad.")
    
else:
    print("Condición no se cumple, persona menor de edad")

Condición no se cumple, persona menor de edad

### elif

Abreviatura de _**else if**_, está nos ayuda a verificar diferentes comprobaciones, **es opcional usarlo y al igual que el _if_ necesita una condición para comprobar, podemos usar tantos _elif_ como queramos**.

In [7]:
edad = 15

if edad >= 18:
    print("Persona mayor de edad.")
    
elif edad == 17:
    print("Persona menor de edad, con 17 años.")
    
elif edad == 15:
    print("Persona menor de edad, con 15 años.")
    
elif edad == 13:
    print("Persona menor de edad, con 13 años.")
    
else:
    print("Persona menor de 13 años.")

Persona menor de edad, con 15 años.

**Ejercicio Propuesto**

Un vendedor ha decidido clasificar sus productos según el precio de estos, de la siguiente manera:
* precio < 5.00 -> "precio bajo"
* 5.00 <= precio <= 10.00 -> "precio intermedio"
* precio > 10.00 -> "precio alto".

Si se define una variable precio con el valor de 8, plantear una condicional para mostrar la clasificación del nuevo precio según lo señalado.

In [15]:
precio = 8

if precio < 5:
    print("precio bajo")

elif 5 <= precio <= 10 :
    print("precio intermedio")

else:
    print("precio alto")

precio intermedio

In [16]:
precio = 8 

if precio < 5: 
    print("Precio bajo")
elif precio >= 5 and precio <= 10: 
    print("Precio intermedio")
else: 
    print("Precio alto")

Precio intermedio

In [17]:
precio = 8
if precio < 5:
    print("Precio bajo")
elif precio <= 10:
    print("Precio intermedio") 
else:
    print("Precio alto")

Precio intermedio

### Condicionales anidados

Al igual que las listas en Python, se pueden anidar condicionales, esto nos permite hacer código más complejo.

In [18]:
edad = 18
direccion = "Madrid"

# Evaluar en función de la dirección, si la persona es mayor o menor de edad.

if direccion == "Madrid":
    
    if edad >= 18:
        print("Vive en Madrid, mayor de edad.")
        
    elif (edad >= 15) and (edad < 18):
        print("Vive en Madrid, menor de 18 pero mayor de 15 años.")
        
    else:
        print("Vive en Madrid, menor de 15 años.")
    
else:
    
    print("No vive en Madrid.")
    
    if edad >= 18:
        print("Mayor de edad.")
    else:
        print("Menor de edad")

Vive en Madrid, mayor de edad.

## Casting (conversión)

En python y otros lenguajes, _**casting**_ (o **cast**) es un termino usado para cambiar el tipo de dato de una variable, como convertir un número _**float**_ a _**int**_ o una _**tuple**_ a _**list**_ (o viceversa).

Para hacer _**casting**_ o castear, usamos las funciones _**built-in**_ de Python, que también son palabras reservadas:

|Función      |Tipo              |
|-------------|------------------|
| **int()**   |Entero            |
| **float()** |Flotante (Decimal)|
| **bool()**  |Booleano          |
| **str()**   |String            |
| **tuple()** |Tupla             |
| **list()**  |Lista             |
| **set()**   |Set (o conjunto)  |
| **dict()**  |Diccionario       |


**Dependiendo del tipo de dato original podremos castear una variable a un tipo de dato u otro.**

Por ejemplo, podemos transformar un numero a una cadena de caracteres, pero no podemos transformar una cadena de caracteres con letras a un numero entero.

In [19]:
entero = 1000

#Convierte la variable "entero" al tipo string
str(entero)

'1000'

In [20]:
string = "1000"

# Si la cadena de caracteres (string) contiene solo números,
# es posible transformarla a número entero (int)
int(string)

1000

In [21]:
# Todo número int puede ser convertido al tipo float (decimal)
float(string)

1000.0

In [22]:
string = "Hola"
# No podemos convertir una cadena de carateres que no contenga números a "int"
int(string)

ValueError: invalid literal for int() with base 10: 'Hola'

In [23]:
tupla = (1, 2, 3, 4, 5, 6)

# Convirtiendo la tupla en una lista
list(tupla)

[1, 2, 3, 4, 5, 6]

In [25]:
# Convirtiendo la tupla en un conjunto (set)
set(tupla)

{1, 2, 3, 4, 5, 6}

In [32]:
string = "100a00"

float(string)

ValueError: could not convert string to float: '100a00'

## input

La función _**input()**_ pide al usuario que ingrese por teclado un mensaje, puede ser una variable, un numero, una cadena de caracteres, una lista... Esta función SIEMPRE retorna una _**string**_, por lo que si el usuario ingresa un número tendremos que castearlo para poder usarlo como número.

In [33]:
# Cuando se utiliza la función input, como parámetro, vas a digitar entre
# comillas el texto que aparecerá al lado del recuadro que completará el usuario
input("Ingrese edad:")

Ingrese edad: 30

'30'

In [34]:
# Se asigna el valor recogido por input a la variable "edad".
edad = input("Ingrese edad: ")

Ingrese edad:  25

In [35]:
# Se muestra el valor ingresado que se asignó a la variable "edad".
print(edad)

25

In [36]:
type(edad)

str

In [37]:
# input genera un valor de tipo string, si lo que se busca es almacenar
# la edad recogida por input como un valor numérico, entonces se debe
# castear (convertir) a número (int)
edad = int(input("Ingrese edad: "))

type(edad)

Ingrese edad:  42

int

In [42]:
numeros = input("Ingresa una lista de numeros separados por espacios: ")

Ingresa una lista de numeros separados por espacios:  7 5 8 9 4 6 2 4

In [43]:
numeros

'7 5 8 9 4 6 2 4'

In [44]:
# Separa los valores ingresados en el input mediante el espacio en blanco.
# con el método .split()
numeros = numeros.split(" ")

numeros

['7', '5', '8', '9', '4', '6', '2', '4']

In [ ]:
##############################################################################################################################