## time

Esta libreria proporciona varias funciones relacionadas con el tiempo.

In [1]:
import time

In [2]:
# Regresa el número de segundos pasados, utilizando el formato Time Unix
# Formato Time Unix: el número de segundos que han pasado desde el 1 de Enero de 1970

time.time()

1738084601.614629

In [3]:
# Toma como parametro de entrada una fecha en formato Time Unix

hoy = time.time()
hoy

1738084725.9927137

In [4]:
# Retorna un string representando esa fecha
time.ctime(hoy)

'Tue Jan 28 18:18:45 2025'

In [5]:
# Comprobamos que el resultado es un dato de tipo string.
type(time.ctime(hoy))

str

In [9]:
# Función sleep
# Toma como argumento un número entero
# Esta función detiene la ejecución por X segundos (X un número entero o decimal)

time.sleep(5)

# Detiene la celda 5 segundo

print("Hola mundo!")

Hola mundo!

## datetime
Este módulo contiene funciones para hacer análisis, formateo y aritmética con fechas y hora.

**Propiedades de los objetos datetime:**
- Los objetos son inmutables.
- Los objetos pueden ser utilizados como llave en un diccionario. 
- Son eficientes para ser almacenados utilizando el módulo pickle. 
- Los objetos de tipo **date** y **datetime** pueden almacenar un año mínimo de 1 y máximo de 9999.

In [10]:
import datetime

In [11]:
# Con datetime.datetime.now() sacamos la hora y fecha de este momento
# Si nos fijamos, se crea un objeto datetime.datetime()

datetime.datetime.now()

datetime.datetime(2025, 1, 28, 18, 27, 45, 356915)

In [12]:
# Usando print() se cambia el formato de vista
# Al aplicar "print" sobre un objeto datetime.datetime,
# Este se muestra en el formato AAAA-MM-DD HH:mm:SS.ms
print(datetime.datetime.now())

2025-01-28 18:29:00.091819

In [13]:
# Creamos una variable que contenga el objeto datetime de la fecha actual (now)
datetime_object = datetime.datetime.now()
datetime_object

datetime.datetime(2025, 1, 28, 18, 30, 55, 948154)

In [14]:
#Validar tipo de dato de la variable datetime_object
type(datetime_object)

datetime.datetime

In [17]:
# El tipo datetime.datetime contiene muchos elementos a los cuales podemos consultar
# estos elementos son las partes de la fecha.

# Para acceder al mes de un objeto datetime.datetime utilizamos:
datetime_object.month

1

In [18]:
# Mostrando todos los valores del objeto datetime_object
print("Año:", datetime_object.year)

print("Mes:", datetime_object.month)

print("Dia:", datetime_object.day)

print("Hora:", datetime_object.hour)

print("Minuto:", datetime_object.minute)

print("Segundos:", datetime_object.second)

print("Microsegundos:", datetime_object.microsecond)

Año: 2025
Mes: 1
Dia: 28
Hora: 18
Minuto: 30
Segundos: 55
Microsegundos: 948154

### De objeto datetime a string

Usando el método **.strftime()** podemos aplicar el formato que queramos a las fechas.

In [19]:
# string from time

from datetime import datetime

now = datetime.now()

print(now)

2025-01-28 18:44:49.423539

In [20]:
type(now)

datetime.datetime

In [22]:
# La función strftime pide que le especifiques el formato en el que quieres visualizar
# la fecha, o lo que quieres obtener de la fecha (una parte).

# En este ejemplo, con .strftime() solo sacamos la hora
string = now.strftime("%H:%M:%S")

# Las letras con el simbolo % representan a la parte de la fecha y hora.

print(string)

18-44-49

In [23]:
type(string)

str

**href**: _https://strftime.org/_

|Code    |Example                 |Description                                                                                |
|--------|------------------------|-------------------------------------------------------------------------------------------|
| **%a** | Sun                    |	Weekday as locale’s abbreviated name.                                                     |
| **%A** | Sunday                 |	Weekday as locale’s full name.                                                            |
| **%w** | 0                      |	Weekday as a decimal number, where 0 is Sunday and 6 is Saturday.                         |
| **%d** | 08                     |	Day of the month as a zero-padded decimal number.                                         |
| **%b** | Sep                    |	Month as locale’s abbreviated name.                                                       |
| **%B** | September              |	Month as locale’s full name.                                                              |
| **%m** | 09                     |	Month as a zero-padded decimal number.                                                    |
| **%y** | 13                     |	Year without century as a zero-padded decimal number.                                     |
| **%Y** | 2013                   |	Year with century as a decimal number.                                                    |
| **%H** | 07                     |	Hour (24-hour clock) as a zero-padded decimal number.                                     |
| **%I** | 07                     |	Hour (12-hour clock) as a zero-padded decimal number.                                     |
| **%p** | AM                     |	Locale’s equivalent of either AM or PM.                                                   |
| **%M** | 06                     |	Minute as a zero-padded decimal number.                                                   |
| **%S** | 05                     |	Second as a zero-padded decimal number.                                                   |
| **%f** | 000000                 |	Microsecond as a decimal number, zero-padded on the left.                                 |
| **%z** | +0000                  |	UTC offset in the form ±HHMM[SS[.ffffff]] (empty string if the object is naive).          |
| **%Z** | UTC                    |	Time zone name (empty string if the object is naive).                                     |
| **%j** | 251                    |	Day of the year as a zero-padded decimal number.                                          |
| **%U** | 36                     |	Week number of the year (Sunday as the first day of the week) as a zero padded decimal number. All days in a new year |preceding the first Sunday are considered to be in week 0.|
| **%W** | 35                     |	Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the |first Monday are considered to be in week 0.           |
| **%c** | Sun Sep 8 07:06:05 2013|	Locale’s appropriate date and time representation.                                        |
| **%x** | 09/08/13               |	Locale’s appropriate date representation.                                                 |
| **%X** | 07:06:05               |	Locale’s appropriate time representation.                                                 |
| **%%** | %                      |	A literal '%' character.                                                                  |

In [24]:
# En este ejemplo cambiamos la forma en la que imprime la fecha y agregamos una coma

string = now.strftime("%y/%m/%d, %H:%M:%S")

print(string)

25/01/28, 18:44:49

In [25]:
# Y podemos hacer el formato que queramos

string = now.strftime("%m/%d/%y, %H:%M:%S")

print(string)

01/28/25, 18:44:49

**Ejercicio:**

Mostrar la fecha almacenada en la variable "now" en el siguiente formato:
"Tuesday Jan 28, 2025 18:44"

In [26]:
now.strftime("%A %b %d, %Y %H:%M")

'Tuesday Jan 28, 2025 18:44'

In [31]:
# Mostrando la hora en formato AM/PM
now.strftime("%A %b %d, %Y %I:%M %p")

'Tuesday Jan 28, 2025 06:44 PM'

### De string a objeto datetime

Usando la función **datetime.strptime()** podemos transformar un **string** a formato **datetime**.

**Esta función recibe 2 argumentos:**
1. Un string con fecha y hora
2. El formato en el que esta escrito la cadena

**Ejemplo:**

In [32]:
# string parse time

date_string = "31 January, 2022"
print(date_string)

31 January, 2022

In [33]:
type(date_string)

str

In [34]:
# Para convertir ese valor string en una fecha, utilizamos strptime
date_object = datetime.strptime(date_string, "%d %B, %Y")

date_object

datetime.datetime(2022, 1, 31, 0, 0)

In [35]:
print(date_object)

2022-01-31 00:00:00

In [36]:
type(date_object)

datetime.datetime

**Ejercicio:**

Al importar la base de datos de ventas de una tienda, se encontó que la fecha de transacción se ha cargado como tipo string, ya que este valor se mostraba de la siguiente forma:
'May 25, 24 - 7:15 PM'
Construir un elemento del tipo datetime.datetime que lea correctamente ese valor string.

In [41]:
fecha_tr = 'May 25, 24 - 7:15 PM'
datetime.strptime(fecha_tr, "%b %d, %y - %I:%M %p")

datetime.datetime(2024, 5, 25, 19, 15)

In [42]:
print(datetime.strptime(fecha_tr, "%b %d, %y - %I:%M %p"))

2024-05-25 19:15:00

Cuando usamos `strftime` y cuando `strptime`:

| **`strftime`** | **`strptime`** |
|-|-|
| Cuando quieres estilizar un elemento de tipo fecha (datetime.datetime) según un formato específico.| Cuando quieres leer un valor string, que representa una fecha, y que por su formato es leído como string. |

### Objeto time de datetime

Con el objeto **time** de **datetime** podemos usar un objeto que solo maneja tiempos.

In [49]:
from datetime import time

In [50]:
# Para inicializar un objeto time, si no ponemos argumentos, se inicializa en 0
# Todos los argumentos son opcionales

objeto_time = time()

objeto_time

datetime.time(0, 0)

In [51]:
# Podemos inicializarlo con diferentes valores

objeto_time = time(hour = 20, minute = 10, second = 50, microsecond = 1345)

objeto_time

datetime.time(20, 10, 50, 1345)

In [52]:
# Al igual con datetime.datetime() el formato cambia cuando hacemos print()

print(objeto_time)

20:10:50.001345

Con esta clase, podemos usar **.strftime()** para darle el formato que queramos al tiempo.

In [55]:
objeto_time.strftime("%#I:%M:%S %p")

'8:10:50 PM'

### Objeto date de datetime

Con el objeto **date** de **datetime** podemos usar un objeto que solo maneja fechas.

In [43]:
from datetime import date

In [44]:
# Para inicializar un objeto date, debemos darle año, mes y día
objeto_date = date(year = 2022, month = 1, day = 1)

objeto_date

datetime.date(2022, 1, 1)

Con esta clase, podemos usar **.strftime()** para darle el formato que queramos a la fecha.

In [ ]:
#date tiene un comando llamado .today() que nos devuelve
# solo la fecha actual (la de hoy)

In [45]:
date.today()

datetime.date(2025, 1, 28)

In [46]:
print(date.today())

2025-01-28

In [47]:
date.today().strftime("%Y")

'2025'

In [48]:
date.today().strftime("%Y-%m-%d")

'2025-01-28'

### Objeto datetime de datetime

Esta clase se usa para craer objetos que tenga fechas, horas, minutos y segundos.

In [56]:
from datetime import datetime

# Al ejecutar esta celda, hemos sobreescrito el nombre datetime
# Ahora datetime hará referencia a la clase y no a la libreria

In [58]:
datetime.now()

datetime.datetime(2025, 1, 28, 20, 10, 4, 256099)

In [59]:
# Ya no podremos usar este código

datetime.datetime.now()

AttributeError: type object 'datetime.datetime' has no attribute 'datetime'

In [60]:
# A diferencia de time, para inicializar un objeto datetime necesitamos año, mes y dia

datetime(year = 2022, month = 1, day = 31)

datetime.datetime(2022, 1, 31, 0, 0)

In [61]:
# Y podemos agregar los parametros de tiempo

datetime(year = 2022, month = 1, day = 31, hour = 11, minute = 10, second = 50)

datetime.datetime(2022, 1, 31, 11, 10, 50)

### datetime y timestamp

**Timestamp es una secuencia de caracteres que denotan la fecha y hora**. Es muy común encontrar bases de datos que manejan esta marca temporal, utilizando el formato Tiempo Unix.

Con la libreria **datetime** podemos:
- Convertir un objeto **datetime a timestamp** con la función **datetime.timestamp()** .
- Convertir un **timestamp a datetime** con la función **datetime.fromtimestamp()**.

In [62]:
now = datetime.now()

print(now)

2025-01-28 20:12:47.924479

In [63]:
# De datetime a timestamp

timestamp = datetime.timestamp(now)
print(timestamp)

1738091567.924479

In [64]:
# De timestamp a datetime

objeto_datetime = datetime.fromtimestamp(timestamp)

print(objeto_datetime)

2025-01-28 20:12:47.924479

### Resta de fechas

Para restar fechas podemos usar los objetos **date** y **datetime** de la libreria **datetime**.

Estas operaciones nos retorna un objeto de tipo **timedelta**.

In [67]:
from datetime import date, datetime

In [68]:
# Se construyen dos variables t1 y t2 con distintas fechas:
t1 = date(year = 2022, month = 7, day = 10)
t2 = date(year = 2021, month = 6, day = 11)
print(t1)
print(t2)

2022-07-10
2021-06-11

In [69]:
# Se calcularán la diferencia entre dos fechas como si fuesen números.
t3 = t1 - t2
print(t3)

394 days, 0:00:00

In [70]:
# Validando el tipo de dato de t3
print(type(t3))

<class 'datetime.timedelta'>

In [71]:
t3

datetime.timedelta(days=394)

In [74]:
# Se construyen dos fechasyhora y se restan, y el tipo de dato de esta diferencia
# es datetime.delta
t4 = datetime(year = 2019, month = 12, day = 15, hour = 21, minute = 12, second = 41)
t5 = datetime(year = 2020, month = 9, day = 6, hour = 4, minute = 54, second = 12)

t6 = t5 - t4

print(t6)

print(type(t6))

265 days, 7:41:31
<class 'datetime.timedelta'>

In [75]:
t6

datetime.timedelta(days=265, seconds=27691)

### Operaciones con timedelta

Un objeto **timedelta** puede ser sumado por otro objecto **timedelta** y/o multiplicado y dividido por un entero o flotante.

In [76]:
from datetime import timedelta

In [77]:
t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 35)
t2 = timedelta(days = 6, hours = 11, minutes = 5, seconds = 43)

In [78]:
print(t1)
print(t2)

19 days, 1:00:35
6 days, 11:05:43

In [ ]:
# Los objetos timedelta trabajan con un conteo de días como elemento principal.
# y para las horas si maneja el esquema %H:%M:%S.

In [79]:
# Aplicamos algunas operaciones sobre t1 y t2 del tipo datime.timedelta
t3 = t1 - t2

t4 = t1 + t2

t5 = t1 * 2.5

t6 = t1 / 2

In [80]:
print("Resta:",t3)

print("Suma:", t4)

print("Multiplicando por un numero:", t5)

print("Dividiendo por un numero:", t6)

Resta: 12 days, 13:54:52
Suma: 25 days, 12:06:18
Multiplicando por un numero: 47 days, 14:31:27.500000
Dividiendo por un numero: 9 days, 12:30:17.500000

In [ ]:
################################################################################################################################

In [81]:
# Para obtener el valor de los días (el número) de timedelta,
# utilizamos el atributo "days" en el elemento del tipo

# Obtener el valor número days para la variable t1
t1.days

19