## Funciones Especiales

### Operador Ternario 

Estos operadores evalúan si una expresión es verdadera o falsa, retornando un valor dependiendo del resultado.

En pocas palabras, es un condicional _**if**_ con la parte del _**else**_ simplificado.

**Sintaxis**:
```python
a if expresion else b
```

Este operador va a evaluar la expresión _**expresion**_ y determinar si es _**True**_ o _**False**_, dependiendo del resultado de la expresión tomara el valor _**a**_ o el valor _**b**_. Si la expresión es _**True**_ entonces toma el valor _**a**_, si la expresión es _**False**_ toma el valor _**b**_.

**El resultado de este operador se puede guardar en una variable.**

**Ejemplo:**

In [1]:
valor_1 = 10
valor_2 = 20

# a if expresion else b

"Verdadero" if (valor_2 > valor_1) else "Falso"

'Verdadero'

In [2]:
"Verdadero" if (valor_2 < valor_1) else "Falso"

'Falso'

In [3]:
string = "Hola Mundo, esto es Python."

1 if "Python" in string else 0

1

In [4]:
string = "Hola Mundo, esto es python."

1 if "Python" in string else 0

0

### Lists Comprehensions

Se utiliza para **aplicar una función a cada elemento de una lista**. También se puede utilizar **para hacer un filtrado de los elementos de la lista a través de una función** dada.

Se utiliza en combinación con el **operador ternario**.

- **Sintaxis 1** (sin usar condicionales): **`[valor for elem in objeto_iterable]`**


- **Sintaxis 2** (usando **`if`** y **`else`** en forma de operador ternario): **`[valor_1 if expresion else valor_2 for elem in objeto_iterable]`**


- **Sintaxis 3** (usando solo **`if`**): **`[valor for elem in objeto_iterable if expresion]`**

Esta lista **se puede asignar a una variable**.

**Ejemplo:**

### Sintaxis 1
- Con esta sintaxis podemos crear listas.
- No se usan condicionales.

In [5]:
# Vamos a iterar sobre range(10)

[i for i in range(10)]

# En este ejemplo no hacemos ninguna operación, solo hacemos una lista con los elementos de range(10)
# Este resultado es lo mismo que hacer list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
lista_vacia = []

for i in range(10):
    lista_vacia.append(i)
    
lista_vacia

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
# Podemos hacer operaciones a los elementos que queremos en la lista
# Obtener una lista que contiene los valores eleveados al cuadrado del 0 al 9
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
# Podemos hacer cualquier operación que queramos
# Dividimos el valor de i entre 10 y se convierte en string para cada i del bucle for.
[str(i/10) for i in range(10)]

['0.0', '0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.7', '0.8', '0.9']

In [9]:
# También podemos iterar sobre cadenas de caracteres

string = "PYTHON!"

# Acumulamos en una lista cada caracter del elemento iterable "string"
[s for s in string]

['P', 'Y', 'T', 'H', 'O', 'N', '!']

In [10]:
string = "PYTHON!"

[s.isalpha() for s in string]

# .isalpha() retorna True si la cadena es una letra, si no lo es retorna False

[True, True, True, True, True, True, False]

In [11]:
from random import randint
# Una lista con 10 números aleatorios (for) entre el 1 y el 100 (randint)
[randint(1, 100) for i in range(10)]

[55, 11, 34, 24, 96, 68, 34, 82, 96, 52]

### Sintaxis 2
- Con esta sintaxis podemos crear listas.
- Podemos modificar elementos de una lista.
- Necesitamos usar condicionales **`if`**, **`else`** (en forma de operador ternario).
- **La condición va al comienzo de la lista.**

In [14]:
# Vamos a iterar sobre range(10)
# Vamos a cambiar los números menores a 4 a -1 y los mayores a 4 a 1

[1 if i > 4 else -1 for i in range(10)]

[-1, -1, -1, -1, -1, 1, 1, 1, 1, 1]

In [15]:
# Aquí vamos a dividir entre 10 a los números menores a 4
# Si el número es mayor a 4 lo elevamos al cuadrado

[i**2 if i > 4 else i/10 for i in range(10)]

[0.0, 0.1, 0.2, 0.3, 0.4, 25, 36, 49, 64, 81]

In [17]:
# Evalua si el valor de i es par o impar, si es par se reemplaza por un 
#número aleatorio entre 1 y 100, y si es impar se mantiene el valor.
[randint(1, 100) if i % 2 == 0 else i for i in range(10)]

[66, 1, 85, 3, 47, 5, 9, 7, 54, 9]

In [18]:
string = "Hola! esto es una cadena en python!"

#Te separa cada palabra (separada por espacio) 
string = string.split()

string
# Ahora string es una lista que contiene 7 elementos.

['Hola!', 'esto', 'es', 'una', 'cadena', 'en', 'python!']

In [19]:
# 1. Recorremos cada elemento de la lista string (los 7 con for)
# 2. Evaluamos la condición: si la cantidad de caracteres que tiene
# la palabra es par (len), entonces la muestra en mayúsculas (upper)
# y en caso contrario, la muestra como está.
[cadena.upper() if len(cadena) % 2 == 0 else cadena for cadena in string]

['Hola!', 'ESTO', 'ES', 'una', 'CADENA', 'EN', 'python!']

In [20]:
lista_vacia = []

for cadena in string:
    
    if len(cadena) % 2 == 0:
        lista_vacia.append(cadena.upper())
        
    else:
        lista_vacia.append(cadena)
        
lista_vacia

['Hola!', 'ESTO', 'ES', 'una', 'CADENA', 'EN', 'python!']

### Sintaxis 3
- Con esta sintaxis podemos crear listas.
- Podemos modificar elementos de una lista y acortar la lista.
- Solo usamos el condicional **`if`**.
- **La condición va al final de la lista, no al comienzo.**

In [22]:
# Aquí vamos a iterar sobre range(50, 70)
# La condición va a "filtrar" los elementos de la lista
# Solamente se quiere almacenar los valores pares
[i for i in range(50, 70) if i % 2 == 0]

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68]

In [23]:
# Quiero obtener una lista que contenga los números impares contenidos entre 20 y 30.
[i for i in range(20, 30) if i % 2 != 0]

[21, 23, 25, 27, 29]

In [25]:
[2*i-1 for i in range(11, 16)]

[21, 23, 25, 27, 29]

In [26]:
# Aquí está la misma condición pero con if-else (sintaxis 2)
# La lista es más larga porque no elimina los elementos que no cumplan la condición, solo los transforma

[i if i % 2 == 0 else 0 for i in range(50, 70)]

[50, 0, 52, 0, 54, 0, 56, 0, 58, 0, 60, 0, 62, 0, 64, 0, 66, 0, 68, 0]

In [27]:
lista_1 = [randint(5, 15)**2 for i in range(5, 15)] # Sintaxis 1

lista_1

[64, 49, 36, 196, 49, 169, 196, 49, 196, 64]

In [28]:
lista_2 = [num for num in lista_1 if len(str(num)) == 2] # Sintaxis 3
# lista_2 mostrará solo aquellos números de 2 dígitos de lista_1
lista_2

# Ahora la lista es más corta

[64, 49, 36, 49, 49, 64]

### Generator expressions (generadores)

Los generadores son tuplas creadas con la misma lógica de los **`list comprehensions`**. 
- Comparten la misma sintaxis que los **`lists compehensions`**, la única diferencia es que usan **`( )`** en lugar de **`[ ]`**
- Ocupan **menos memoria** que una lista.
- Luego de iterar sobre ellas, **el generador se vacia**.
- Este generador **se puede asignar a una variable**, aunque es poco común hacer esto. (La variable se vacía al final de iterar sobre ella).

In [29]:
(i**2 for i in range(10))

In [30]:
generador = (i**2 for i in range(10))

generador

In [31]:
# Vamos a recorrer el generador

for i in generador:
    print(i)

0
1
4
9
16
25
36
49
64
81

In [32]:
# Ya una vez ejecutado el bucle anterior, el generador se vacia
# Por lo que si intentamos iterar sobre él, estaríamos iterando sobre un elemento vacio

for i in generador:
    print(i)
    
print("Ha terminado el bucle.")

Ha terminado el bucle.

### Sets Comprehensions

Otra forma de crear sets, utiliza la misma lógica que las **`lists comprehensions`**.

- Por ser un set, utiliza las **`{ }`**.
- No permite elementos repetidos y no está ordenado.
- El resultado se puede asignar a una variable.

In [37]:
# Vamos a iterar sobre range(100)
# Crea un set que muestre 100 números aleatorios entre el 1 y 5
{randint(1, 5) for i in range(100)}
# No va a mostrar más de 5 (a pesar de poner range 100) porque NO REPITE VALORES.

{1, 2, 3, 4, 5}

In [35]:
string = "HOla mundo"


{s.lower() for s in string}

{' ', 'a', 'd', 'h', 'l', 'm', 'n', 'o', 'u'}

### Dictionaries Comprehensions

Como dice su nombre, es una forma de crear diccionarios usando un elemento iterable y el operador ternario.

- Al igual que el punto anterior, comparte la misma sintaxis que los **`lists comprehensions`**.
- La diferencia es que ahora usan **`{ }`** y **`:`** y necesita una llave y un valor por cada elemento.
- El resultado se puede asignar a una variable.

In [38]:
# Vamos a iterar sobre range(10)

{i : i**2 for i in range(10)}

# Como es un diccionario es obligatorio tener llave : valor

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [41]:
string = "Comprehensions"

{num : s for num, s in enumerate(string)}

{0: 'C',
 1: 'o',
 2: 'm',
 3: 'p',
 4: 'r',
 5: 'e',
 6: 'h',
 7: 'e',
 8: 'n',
 9: 's',
 10: 'i',
 11: 'o',
 12: 'n',
 13: 's'}

In [42]:
string = "Comprehensions"

{s : num for num, s in enumerate(string)}

# Por ser un diccionario, no permite llaves repetidas, por lo que se queda con el último valor para cada llave

{'C': 0,
 'o': 11,
 'm': 2,
 'p': 3,
 'r': 4,
 'e': 7,
 'h': 6,
 'n': 12,
 's': 13,
 'i': 10}

In [43]:
nombres = ["Daniel", "Clara", "Jesus", "Antonio", "Miguel", "Ana"]
edades = [randint(20, 30) for i in nombres] 

print(nombres)
print(edades)

['Daniel', 'Clara', 'Jesus', 'Antonio', 'Miguel', 'Ana']
[22, 23, 28, 28, 24, 26]

In [45]:
# Con estas 2 listas vamos a crear un diccionario

{nombre : edad for nombre, edad in zip(nombres, edades)}

{'Daniel': 22,
 'Clara': 23,
 'Jesus': 28,
 'Antonio': 28,
 'Miguel': 24,
 'Ana': 26}

### Any & All

**`any`** y **`all`** son funciones especiales (y palabras reservadas) que recorren una lista comparando **`True`** y **`False`**.

- La función **`any`** toma una secuencia de valores booleanos y devuelve **`True`** si **ALGUNO** de los valores de la secuencia es **`True`** de lo contrario devuelve **`False`**.



- La función **`all`** toma una secuencia de valores booleanos y devuelve **`True`** si **TODOS** los valores de la secuencia son **`True`**, de los contrario devuelve **`False`**.

In [55]:
lista_1 = [True, False, False]

lista_1

[True, False, False]

In [53]:
any(lista_1) # existe al menos un valor True en Lista_1

True

In [54]:
all(lista_1) # No todos los valores de la lista_1 son True

False

In [49]:
lista_2 = [True, True, True]

lista_2

[True, True, True]

In [50]:
any(lista_2)

True

In [51]:
all(lista_2)

True

In [ ]:
################################################################################################################################